:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --primary-grey: hsl(0, 0%, 8%);
  --secondary-grey: hsl(0, 0%, 12%);
  --primary-grey-bg: hsl(0, 0%, 20%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-grey);
}

main {
  margin: 0 20px;
}

.card {
  width: 370px;
  padding: 40px 30px;
  background-color: var(--secondary-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  border-radius: 20px;
}

.card img {
  width: 80px;
  border-radius: 50%;
  align-self: center;
  margin-bottom: 25px;
}

.card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-header h1 {
  font-weight: 700;
}

.card .card-header address {
  color: var(--green);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.card p {
  font-size: 14px;
  text-align: center;
  margin: 25px 0;
  font-weight: 400;
}

.card ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.card ul li {
  list-style: none;
  font-weight: 600;
  background-color: var(--primary-grey-bg);
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border-radius: 10px;
  font-size: 14px;
}

.card ul li:hover {
  background-color: var(--green);
  color: var(--primary-grey);
  cursor: pointer;
}
